.App {
  text-align: left;
}

.App-header {
  background-color: #444;
  color: white;
}

.App-title {
  font-size: 1.5em;
  text-align: center;
}

.App-intro {
  border: 2px solid black;
  font-size: large;
  padding: 20px;
}

.Xml-example {
  background-color: lightgrey;
}

.Search-query {
  padding: 20px;
}

.Search-param {
  display: inline
}

